/*
colors
====================================================================== */
$red: #e66465;
$orange: #f69d3c;
$yellow: #f6b73c;
$green: #4d9f0c;
$blue: #3d7e9a;
$purple: #9198e5;
$grey: #696969;

$red-light: #ffe7e8;
$orange-light: #ffe8d4;
$yellow-light: #fff3d4;
$green-light: #ebf8e1;
$blue-light: #e4f0f5;
$purple-light: #d7d9f2;
$grey-light: #eee;

$red-vdark: #5d3739;
$orange-vdark: #332206;
$yellow-vdark: #332807;
$green-vdark: #162300;
$blue-vdark: #001d33;
$purple-vdark: #303253;
$grey-vdark: #151515;

$red-dark: mix($red, $red-vdark, 65);
$orange-dark: mix($orange, $orange-vdark, 65);
$yellow-dark: mix($yellow, $yellow-vdark, 65);
$green-dark: mix($green, $green-vdark, 65);
$blue-dark: mix($blue, $blue-vdark, 65);
$purple-dark: mix($purple, $purple-vdark, 65);
$grey-dark: mix($grey, $grey-vdark, 65);
