$base-font-size: 18px;
$smaller-font-size: ($base-font-size - 2px);

$link-color: #3d7e9a;

/*
forms
====================================================================== */

$form-border-width: 2px;
$form-border-color: #9b9b9b;
$form-text: $grey-dark;
$form-background-color: #fff;

/*
selectors
====================================================================== */
$selector-icon: 'i[class^="icon-"]';
$selector-prism: 'pre[class*="language-"]';
